@import url("./https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.show-modal {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  margin: 5rem 1rem;
  border: none;
  border-radius: 10rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-weight: 700;
}
.show-modal:hover {
  background-color: #9a9393;
  transition-duration: 500ms;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

p {
  font-size: 0.99rem;
}

/* classes to modal work */
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* repositions an element in the horizontal and/or vertical directions */
  width: 70%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.7); /* offset-x | offset-y | blur-radius | color */
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
